<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/contact/" role="button">Add contact</a></li>
          <li><a href="/phone/" role="button">Add Phone</a></li>
          <li><a href="/email/" role="button">Add Phone</a></li>
        </ul>
      </nav>

      {% for contact in contacts%}
      <ul>
        <li>
          {%if not contact.done%}
          <a href="/detail/{{contact.id}}" role="button" class="outline"
            >{{contact.name}}</a
          >
          <a href="/done/{{contact.id}}" role="button">Mark Done</a>
          <a href="/delete/{{contact.id}}" role="button" class="contrast"
            >Delete note</a
          >
          {% else %}

          <a href="/detail/{{contact.id}}" role="button" class="secondary"
            ><s>{{contact.name}}</s></a
          >
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </main>
  </body>
</html>